* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.top {
    height: 100vh;
    width: 100vw;
    /*
        Search other background
    */
    background: center / cover url('img/bg-top.jpg');
    position: relative;
}

.top::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.wrap-search {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.wrap-search h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 300;
    width: 100%;
    margin-bottom: 35px;
}

h2 {
    font-size: 2.5rem;
}

input::placeholder {
    color:rgba(128, 128, 128, 0.541);

}

#clock {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color: #fff;
    display: flex;
    flex-direction: row;
}